@model IEnumerable<GuitarristaPresentationModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="Index">
    <label>Busca:</label>
    <input type="text" name="search" />
    <label>Ordenação:</label>
    <input type="checkbox" name="orderAscendant" value="true" />
    <input type="submit" value="Go!!!" />
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuitarrasPossuídas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuitarristaFav)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GuitarrasPossuídas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GuitarristaFav)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
